<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javadoh.plantasmedicinalesnaturales">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:fullBackupContent="true"
        android:usesCleartextTraffic="true">

        <!-- PARA CAPTURAR FACEBOOK-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.javadoh.plantasmedicinalesnaturales.ui.activities.Presentation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.javadoh.com"
                    android:pathPattern="/landings/plantasmedicinales/app/index.html" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.javadoh.plantasmedicinalesnaturales.ui.activities.BuscadorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.javadoh.com"
                    android:pathPattern="/landings/plantasmedicinales/app/index.html" />
            </intent-filter>
        </activity>
        <activity android:name="com.javadoh.plantasmedicinalesnaturales.ui.activities.BusquedaRespuestaActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.javadoh.com"
                    android:pathPattern="/landings/plantasmedicinales/app/index.html" />
            </intent-filter>
        </activity>
        <activity android:name="com.javadoh.plantasmedicinalesnaturales.ui.activities.DetailResActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.javadoh.com"
                    android:pathPattern="/landings/plantasmedicinales/app/index.html" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.javadoh.plantasmedicinalesnaturales.ui.activities.FacebookLoginComment"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.javadoh.com"
                    android:pathPattern="/landings/plantasmedicinales/app/index.html" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.javadoh.com"
                    android:pathPattern="/landings/plantasmedicinales/app/index.html" />
            </intent-filter>
        </activity>
    </application>
</manifest>